*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* RESET END*/

/* COLORS */
:root {
  --bg-soft_violet: hsl(273, 75%, 66%);
  --bg-soft_blue: hsl(240, 73%, 65%);

  --dividers-grayish_blue:  hsl(240, 5%, 91%);

  --primary-dark_blue: hsl(238, 29%, 16%);
  --primary-soft_red: hsl(14, 88%, 65%);
  
  --neutral-very_dark_blue: hsl(237, 12%, 33%);
  --neutral-dark_blue: hsl(240, 6%, 50%);
}

/* MAIN START*/

body {
  max-width: 58rem;
  margin: 0 auto;
  background: linear-gradient(var(--bg-soft_violet), var(--bg-soft_blue));
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 1rem auto;
  max-width: 22rem;
  }

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 3rem;
  margin-top: 8rem; 
}

.card_image {
  margin-top: -10rem;
  width: 100%;
}

.card_image img {
  filter: drop-shadow(0 2rem 0 rgba(104, 98, 230, 0.1) );

}

.card_image_box {
  display: none;
}

.card h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--primary-dark_blue);
}

.accordion_element {
  border-bottom: 1px solid var(--dividers-grayish_blue);
  
}
.accordion_question {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  font-size: 0.8rem;
  color: var(--neutral-dark_blue);
  font-weight: 700;
  padding-block: 1rem;
  cursor: pointer;
}

.accordion_answer {
  position: relative;
  height: 0;
  opacity: 0;
  transition: 350ms all;
  overflow: hidden;
}

.arrow {
  transition: 350ms all;
}

/* ACTIVE CLASS */
.accordion_element.active .accordion_answer {
  height: auto;
  opacity: 1;
  padding-bottom: 1rem;
}

.accordion_element.active .arrow {
  transform: rotate(180deg);
}

.accordion_element.active .accordion_question {
  color: var(--primary-dark_blue);
}




/* FOOTER START */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media only screen and (min-width: 55rem) {

  body {
    justify-content: center;
    padding: 1rem;
  }

  main {
    margin: 1rem auto;
    max-width: 100%;
    }

  .card {
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-left: 0;
    gap: 1rem;
    position: relative;
  }

  .card > * {
    flex: 1
  }

  .card h1 {
    text-align: left;
  }
  .card_image_wrapper {
    overflow: hidden;
  }
  .card_image {
    margin: 0;
    margin-left: -5rem;
  }

  .card_image img {
    filter: none;
   }

  .card_image_box {
    display: block;
    position: absolute;
    left: -6rem;
    top: 11rem;
    transition: 350ms all;
  }

}